@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/*----- VARIABLES -----*/
:root {
  --primary: antiquewhite;
  --darkgrey: rgb(44, 44, 44);
  --darkgrey-divider: rgba(44, 44, 44, 0.411);
}

/* ----- VARIABLES END ----- */

/*----- GENERAL STYLE -----*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 45%;
}

body {
  padding: 0;
}

/* ----- GENERAL STYLE END ----- */

/* ----- TYPOGRAPHY ----- */

h1 {
  z-index: 2;
  font-size: 3rem;
  font-weight: 300;
  color: white;
}

h1 span {
  font-weight: 700;
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  color: white;
}

h2 span {
  padding: 0.5rem 1rem;
  font-size: 4rem;
  background-color: rgba(255, 255, 255, 0.527);
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 10% 100%, 0 80%);
}

.section-heading {
  color: var(--darkgrey);
  font-size: 3.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin-bottom: 4rem;
  width: fit-content;
  opacity: 0;
  transform: translateY(100px);
}

.section-heading:before {
  content: "";
  width: 20%;
  height: 0.5rem;
  background-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.show-section-heading {
  opacity: 1;
  transform: translateY(0);
  transition: 200ms ease-in;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  width: fit-content;
  text-align: start;
}

h3::after {
  content: "";
  width: 60%;
  height: 0.5rem;
  background-color: #4b4b4b;
  display: block;
  margin-top: 1rem;
  margin-right: auto;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
  color: black;
}

p {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--darkgrey);
  line-height: 2.2rem;
  hyphens: auto;
}

.contact-title {
  font-size: 2rem;
  font-weight: 600;
}

.text-contact {
  font-size: 1.3rem;
}

/* ----- TYPOGRAPHY END----- */

.img-fluid {
  width: 100%;
  height: auto;
}

/* --- HEADER --- */

header {
  width: 100%;
  height: 95vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.322),
      rgba(0, 0, 0, 0.274)
    ),
    url(../img/villahero.jpg);
  background-position: center;
  background-size: cover;
}

/* ----- HEADER END ----- */

/* ----- SECTIONS ----- */

section {
  padding: 5rem 0;
}

/* SECTION ABOUT */

.section-why-us {
  background-color: var(--primary);
}

.heading-recommendation {
  font-size: 1.6rem;
  padding: 1rem;
  background-color: var(--darkgrey);
  color: white;
  width: fit-content;
  text-align: center;
}

.heading-recommendation::after {
  display: none;
}

/* SECTION ABOUT END */
/* SECTION NEWS */

.section-latest-news {
  border-bottom: 1px solid var(--darkgrey-divider);
  display: flex;
  justify-content: center;
}

/* SECTION NEWS END */

/* SECTION VILLAS */

.section-villas {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--darkgrey-divider);
}

/* SECTION VILLAS END */

/* SECTION TEAM */

.section-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
}

/* SECTION TEAM END */

/* SECTION CONTACT */

.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SECTION CONTACT END */

.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */

footer {
  padding: 3rem 0;
  background-color: var(--primary);
}

/* FOOTER END */

/* --------------- SECTIONS END --------------- */

/* --------------- COMPONENTS --------------- */

/* NAVBAR HEADER*/

.nav-hero {
  margin-right: auto;
  margin-left: auto;
  border-bottom: 2px solid rgba(255, 255, 255, 0.226);
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.nav-hero .nav-logo {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.nav-hero .nav-list-expand {
  list-style-type: none;
  display: none;
  align-items: center;
  gap: 5rem;
}

.nav-hero .nav-list-expand .nav-item {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 200ms;
}

.nav-hero .nav-list-expand .nav-item:hover {
  transform: translateY(-3px);
}

/* NAVBAR HEADER END*/

/* NAVBAR FOOTER */

.footer-nav .nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.footer-nav .nav-item {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--darkgrey);
}

/* NAVBAR FOOTER END*/

/* CARD ABOUT */

.box-recommendations {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.card-about {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-about .icon-recommendation {
  width: 35px;
}

/* CARD ABOUT END */

/* CARD NEWS */

.card-news {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 1rem;
}

.card-news img {
  max-height: 250px;
}

.card-news .box-source {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.card-news .box-source .img-source {
  width: 130px;
  height: auto;
}

.card-news .content {
  padding: 3rem;
}

/* CARD NEWS END */

/* CARD VILLA */

.card-villa {
  width: 90%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
  border-radius: 0.5rem;
}

.card-villa img {
  max-height: 26rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card-villa h3 {
  font-size: 2.2rem;
  padding: 0.5rem 1rem;
  background-color: var(--darkgrey);
}

.card-villa h3::after {
  display: none;
}

.card-villa .box-details {
  padding: 0rem 3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-villa .card-content {
  padding: 1.6rem;
}

.card-villa .card-villa-heading {
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #4b4b4b;
}

.card-villa .text-price {
  position: absolute;
  font-weight: 500;
  background-color: white;
  color: #4b4b4b;
  padding: 1rem;
  top: 10px;
  left: 10px;
  letter-spacing: 1px;
  border-radius: 0.4rem;
}

.card-villa .box-details .box-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-villa .box-details .box-detail .text-details {
  font-size: 1.3rem;
  font-weight: 400;
}

.card-villa .box-details .box-detail .icon-detail {
  width: 3rem;
}

.card-villa .box-tags {
  display: flex;
  justify-content: start;
  padding: 1rem;
  gap: 2rem;
}

.card-villa .btn-box {
  display: flex;
  justify-content: space-evenly;
}

.tag {
  background-color: #4b4b4b;
  padding: 0.5rem;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0.4rem;
}

/* CARD VILLA END */

/* CARD TEAM */

.card-team {
  height: 150px;
  width: 90%;
  background-color: white;

  display: flex;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 10px 36px 0px;
}

.card-team img {
  height: 100%;
  width: 150px;
}

.card-team .card-content {
  width: 100%;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-team .card-content .icon-corner {
  display: none;
  position: absolute;
  width: 5.5rem;
  height: 5.5rem;
  top: 15px;
  right: 15px;
  padding: 0.5rem;
  background-color: antiquewhite;
}

.card-team .team-name-heading {
  font-size: 2rem;
  color: black;
  font-weight: 500;
}

.card-team .team-position-heading {
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
}

/* CARD TEAM END */

/* BUTTON HERO */

.btn-hero {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.452);
  border-radius: 0.5rem;
  color: white;
  padding: 1rem 4rem;
  transition: all 200ms ease-in;
}

.btn-hero:hover {
  background-color: rgba(255, 255, 255, 0.795);
  color: black;
  font-weight: 500;
  transform: translateY(-2px);
}

/* BUTTON HERO END */

/* BUTTON LEARN */

.btn-learn {
  padding: 1rem 4rem;
  background-color: transparent;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.486);
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  transition: all 200ms ease-out;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 10px 36px 0px;
}

.btn-learn:hover {
  background-color: rgb(88, 88, 88);
  color: white;
  transform: translateY(-2px);
  border: 1px solid rgb(88, 88, 88);
}

/* BUTTON LEARN END */

/* BUTTON NEWS */

.btn-news {
  background-color: transparent;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  border: none;
  font-weight: 500;
  text-decoration: underline;
}

/*BUTTON NEWS END */

/* CONTACT FORM */

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.contact-form .input-box {
  display: flex;
  flex-direction: column;
}

.contact-form .contact-label {
  font-size: 1.3rem;
  color: var(--darkgrey);
  margin-bottom: 5px;
}

.contact-form .contact-input {
  padding: 1rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.199);
  border-radius: 0.3rem;
}

.contact-form .contact-textarea {
  height: 6rem;
  padding: 0.5rem;
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.199);
}

/* CONTACT FORM END */

/* CONTACT BOX DETAILS */

.contact-box-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
}

.box-quick-contact {
  display: flex;
  align-items: center;
}

.icon-quick-contact {
  width: 30px;
  height: 30px;
  margin-right: 2rem;
}

/* CONTACT BOX DETAILS END */

/* NEWSLETTER */

.newsletter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-box input {
  border: 1px solid var(--darkgrey);
  background-color: white;
  padding: 1.2rem;
  border-radius: 0.2rem;
}
.newsletter-box input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.footer-newsletter-title {
  font-size: 2rem;
  font-weight: 500;
}

/* NEWSLETTTER END */

/* BLOCKQUOTE */

blockquote {
  text-align: center;
}

/* BLOCKQUOTE */

/* IFRAME GOOGLE */

.box-map {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 10px 36px 0px;
  height: 400px;
  padding: 1rem;
}

.box-map iframe {
  width: 100%;
  height: 100%;
}

/* IFRAME GOOGLE END */

/* LOGO FOOTER */

.logo-footer {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--darkgrey);
}

/* LOGO FOOTER END */

/* DIVIDER */

.divider {
  content: "";
  display: block;
  width: 70%;
  height: 0.2rem;
  background-color: black;
}

/* DIVIDER END */

/* SOCIAL MEDIA BOX */

.social-media-box {
  display: flex;
  gap: 2rem;
}

.social-media-box .social-icon {
  width: 2rem;
}

/* SOCIAL MEDIA BOX END */

/* ----- COMPONENTS END ----- */

.content-news {
  padding: 2rem;
}

.box-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.contact-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 10px 36px 0px;
}

.row-gap {
  row-gap: 2rem;
}

@media screen and (min-width: 768px) {
  .card-news {
    width: 70%;
  }

  h1 {
    font-size: 5rem;
  }

  h1 span {
    font-size: 6rem;
  }
}

@media screen and (min-width: 992px) {
  body {
    padding: 1rem;
  }

  html {
    font-size: 62.5%;
  }

  section {
    padding: 10rem 0;
  }

  .nav-hero .nav-list-expand {
    display: flex;
  }

  .contact-box {
    flex-direction: row;
  }

  .contact-box .contact-form {
    width: 50%;
  }

  .contact-box .contact-box-details {
    width: 50%;
  }

  .box-map {
    height: 50%;
  }

  .card-team {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 90% 100%, 0 100%);
  }

  .card-news {
    width: 100%;
  }

  .card-team .card-content .icon-corner {
    display: block;
  }

  .footer-newsletter-title {
    font-size: 2.2rem;
  }

  .newsletter-box input {
    margin-right: 2rem;
  }
}

.row-offset {
  transform: translateY(30rem);
  opacity: 0;
}

.show-row {
  opacity: 1;
  transform: translateY(0);
  transition: 300ms ease-in;
}

.bankist-logo {
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
